## config file for akutils scripts.
##
## Modify as necessary.
## Consdier using the config utility to make changes to this file.
##
## Format is one item per line.  <settings> <tab> <path-to-file or fixed value>
##

## Lines with hashes are ignored.
## Settings descriptions:

## QIIME SETTINGS BELOW HERE
##	Reference	(database reference fasta -- eg greengenes fasta)
##	Taxonomy	(database taxonomy file -- eg greengenes tax)
##	Chimeras	(fasta for filtering against -- eg gold.fa)
##	Alignment_template	(template file -- eg core_set_aligned.fasta.imputed)
##	Alignment_lanemask	(lanemask file -- eg lanemask_in_1s_and_0s)
##	Split_libraries_qvalue	(Minimum quality for split libraries.  A value of 19 returns q20 or better data.)
##	Split_libraries_minpercent	(Minimum percent of high quality base calls per read.  Recommend 0.95.)
##	Split_libraries_maxbad	(Max bad base calls before truncating a read.  Recommend no higher than 1.)
##	Prefix_length	(Length of prefix to collapse on in bp)
##	Suffix_length	(Length of suffix to collapse on in bp)
##	OTU_picker	(blast, cdhit, swarm, openref, custom_openref, ALL -- cap sensitive)
##	Tax_assigner	(rdp, uclust, blast, ALL -- cap sensitive)
##	Rarefaction_depth	(Integer or AUTO.  Default is AUTO which will choose rarefaction depth based on lowest count sample.)
##	CPU_cores	(Number of cores to use during parallel processing steps.)

## FASTQ_MULTX SETTINGS BELOW HERE
##	Multx_errors	(Maximum indexing mismatches allowed during initial demultiplexing step.)

## ITSx SETTINGS BELOW HERE
## 	ITSx_options	(Options to use for ITSx -- see ITSx manual for details)

## Settings in use for akutils scripts below (without leading "#" characters).  Order below defines order in which config utility modifies settings.
Split_libraries_qvalue	19
Split_libraries_minpercent	0.95
Split_libraries_maxbad	0
Reference	undefined
Taxonomy	undefined
Chimeras	undefined
Prefix_length	100
Suffix_length	0
Multx_errors	1
OTU_picker	swarm
Tax_assigner	blast
Alignment_template	undefined
Alignment_lanemask	undefined
ITSx_options	-t f --preserve T --anchor HMM --complement F
Rarefaction_depth	AUTO
CPU_cores	2



